DATABASE_URL=postgres://postgres:postgres@localhost:5432/transaction_processor
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=transaction-processor-service
KAFKA_GROUP_ID=transaction-processor-group
KAFKA_TOPIC=raw-transactions
